.welcome{
	padding: 10px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.user-option{
	float: right;
	display: inline-block;
	margin-left: 10px;
}

.confirm-img{
	margin: 0 auto;
	display: block;
	border: 5px solid black;
}

#inputSuggestions{
	width: 90%;
	height: 200px;
}