#pacman-menu{
	width: auto;
	float: left;
	font-size: 16px;
}

#pacman-menu li{
	margin: 3px;
}

#pacman-menu li a{
	text-align: center;
	border: 1px solid black;
	padding: 10px;
	border-radius: 15px;
}

.menuItem li{
	line-height: normal;
}

.center{
	margin: 10px auto;
	display: block;
}